{% extends 'base.html.twig' %}

{% form_theme chatbox 'bootstrap_3_layout.html.twig' %}

{% block body %}

<div class="container">
    <h1>Chat</h1>

    {% if messages|length %}
        {% for m in messages %}
            <div class="panel panel-default">
                <div class="panel-heading">[<a href="{{ path('edit', { id: m.id }) }}">Edit</a>] <em>{{ m.createdAt|date('H:i') }}</em> | {{ m.author.username }}</div>
                <div class="panel-body">
                    {{ m.content }}
                </div>
            </div>
        {% endfor %}
    {% else %}
        No banter yet, go ahead and break the silence.
    {% endif %}

    {{ form(chatbox) }}

</div>
{% endblock %}
